.box {
    position: relative;
    height: auto;
    padding: 8px;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #01c38d 0%, #01c38d 5%, transparent 5%, transparent 40%, #01c38d 50%);
    animation: animate 4s linear infinite;
    z-index: -1;
    
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}